<div *ngIf="comments.length === 0">
  <h1 class="text-center text-info">Nema jos uvek nijedan komentar za ovu sobu!</h1>
</div>
<div>
  <div class="card mb-3" *ngFor="let comment of comments">
      <div class="card-header">
          <img src="../../../assets/man-icon.png" class="mr-3" alt="">
          <span class="mr-3">Anonimni</span>
          <span class="badge badge-pill badge-primary">{{comment.grade}}</span>
        
      </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">{{comment.comment}}</p>
    </div>
  </div>
</div>
