<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->


<div class="image">
    <section id="team" class="pb-5">
        <div class="container">

            <div class="collapse col-md-10 offset-md-1" id="collapseExample">
                <div class="card card-body">
                    <form #SearchForm="ngForm" (ngSubmit)="search()">
                        <input type="text" name="loc" id="loc" [(ngModel)]="pr.lokacija" placeholder="Location">
                        &nbsp;
                        <input type="number" min='1' [(ngModel)]="pr.brojOsoba" name="brojOsoba"
                            placeholder="Persons" />
                        &nbsp;<button class="btn btn-primary" type="submit">Search</button><br />
                        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                            outsideDays="hidden" style="color: black; background-color: white">
                        </ngb-datepicker>
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                            </span>
                        </ng-template>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Type</span>
                                    <select [(ngModel)]="pr.tipSmestaja" name="tip" class="form-control">
                                        <option *ngFor="let type of types" [value]="type.naziv">
                                            {{type.naziv}}
                                        </option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Category</span>
                                    <select class="form-control" [(ngModel)]="pr.kategorijaSmestaja" name="cat">
                                        <option value="0">Not categorized</option>
                                        <option *ngFor="let cat of categories" [value]="cat.zvezdice">
                                            {{cat.zvezdice}}
                                        </option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="number" min="0" name="distance" id="distance"
                                        [(ngModel)]="pr.udaljenost" placeholder="Distance (km)">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input class="form-control" type="number" min="0" name="pre" id="pre"
                                        [(ngModel)]="pr.otkazivanjePre" placeholder="Cancle days before">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input class="form-control" type="checkbox" name="cb" id="cb"
                                        [checked]="pr.besplatnoOktazivanje"
                                        (change)="pr.besplatnoOktazivanje = !pr.besplatnoOktazivanje">
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <ng-multiselect-dropdown name="multiselect" [placeholder]="'Select extras'" [data]="extras"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
                                (onDeSelect)="onItemDeselect($event)" (onDeSelectAll)="onDeselectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </form>
                </div>
            </div>

            <!--<h5 class="section-title h1">Results</h5>-->
            <div class="row" *ngIf="results.length!=0">
                <div class="col-md-">
                    <label>Sort by:</label>
                </div>
                <div class="col-md-2">
                    <select [(ngModel)]="sorter" name="sorter">
                        <option value="Reccomendation">Reccomendation</option>
                        <option value="Price">Price</option>
                        <option value="Distance">Distance</option>
                        <option value="Rating">Rating</option>
                        <!--<option value="Category">Category</option>-->
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-secondary" (click)="sort()">Sort</button>
                </div>
            </div>

            <section id="team" class="pb-5">
                <div class="container">
                    <h5 class="section-title h1">Rezultati pretrage</h5>
                    <div class="row">
                        <!-- Team member -->
                        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let o of results">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src={{o.slike[0].putanja}} alt="card image"></p>
                                        <h4 class="card-title">{{o.nazivObj}}, {{o.lokacija.naziv}}, kategorija: {{o.kategorija}} <span
                                                style="color:gold"><i class="fas fa-star"></i></span> </h4>
                                        <h3 class="card-title">Soba: {{o.jedinica.oznaka}}</h3>
                                        <h4 class="card-title">1/{{o.jedinica.brojKreveta}} <div
                                                *ngIf="o.jedinica.balkon">Balkon<i class="fas fa-check"></i></div>
                                        </h4>
                                        <span>Ocena: <span style="color:gold"><i class="fas fa-star"></i></span><span
                                                class="ml-1">{{o.ocena}}</span></span>
                                        <p class="card-text"></p>
                                        <h4 class="card-title">{{o.cena}} € </h4>
                                        <p>{{o.cena}} €</p>
                                        <p>[DEBUG]: {{o.jedinica.id}} </p>
                                        <a (click)="toProfile(o.jedinica.sobjekat)"><i class="fa fa-plus"></i></a>
                                        <p class="card-text">{{o.opis}}</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item" *ngFor="let p of o.slike">
                                                <img class=" img-fluid" src={{p.putanja}} alt="card image"
                                                    style="width: 100px; height: 100px; "
                                                    (click)="openModal(content,p.putanja)">
                                                <ng-template #content>

                                                    <div class="modal-body">
                                                        <img class=" img-fluid" src={{p.putanja}} alt="card image"
                                                            style="width: 2000px; height: 500px; ">
                                                    </div>

                                                </ng-template>
                                            </li>
                                        </ul>
                                        <div *ngIf="logged">
                                            <a  class="btn btn-primary btn-sm" 
                                            (click)="rezervisi(o.jedinica.id,o.nazivObj,pr.dolazak,pr.odlazak,o.cena)">
                                            <i class="fa fa-plus"></i>
                                                Rezervisi</a>
                                                <!--<div>More persons</div>
                                                <input class="form-control" type="checkbox" name="cb2" id="cb2"
                                                    [checked]="viseOsoba"
                                                    (change)="viseOsoba = !viseOsoba">-->
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team -->
        </div>