<div class="image">
  <nav class="navbar-default navbar-fixed-top navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img src="assets/megatravellogo.jpg" class="user-avatar" style="width:50px;height:50px;"/> <a class="navbar-brand">MegaTravel</a>
      <ul class="flow-right navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"> Accommodation <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
          <a class="nav-link" routerLink="/home"> MyProfile <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <a id="sb" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button">
              <i class="fa fa-search"></i>
          </a>
          <div *ngIf="logged;else other_content">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Sign out</button>
          </div>
          
          <ng-template #other_content>
						<button *ngIf="boolLogOff" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login()">Sign in</button>
						<button *ngIf="boolLogIn" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="signOut()">Sign out</button>
            <button *ngIf="boolLogOff" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="register()">Register</button>
          </ng-template>
          
      </form>
    </div>
  </nav>




  <div style="text-align: center" class="head-naslov">
    <h2 style="color: black">List of ACTIVE reservations</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm" style="background-color: white; color: black">
        <thead>
          <tr>
            <th>Id</th>
            <th>Reservation Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Price</th>
            <th>
              Smestajna jedinica - Balkon
            </th>
            <th>
              Smestajni objekat - Kategorija
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of reservationsActive">
            <td>{{r.id}}</td>
            <td>{{r.datumRezervacije}}</td>
            <td>{{r.datumPocetka}}</td>
            <td>{{r.datumZavrsetka}}</td>
            <td>{{r.cenaSmestaja}}</td>
            <td>{{r.smestaj.balkon}} 
            </td>      
            <td>{{r.smestaj.sobjekat.kategorija}}                     
                
            </td>
            <th>
              <div *ngIf = "cancelFlag">
                  <button class="list-group-item list-group-item-action" (click)="cancelVehicle(r.id,r.datumPocetka)">Cancel reservation</button>
              </div>
            </th>                 
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>

          <div style="text-align: center" class="head-naslov">
            <h2 style="color: black">History of reservations</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm" style="background-color: white; color: black">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Reservation Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Price</th>
                    <th>
                      Smestajna jedinica - Balkon
                    </th>
                    <th>
                      Smestajni objekat - Kategorija
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let r of reservationsOutOfDate">
                    <td>{{r.id}}</td>
                    <td>{{r.datumRezervacije}}</td>
                    <td>{{r.datumPocetka}}</td>
                    <td>{{r.datumZavrsetka}}</td>
                    <td>{{r.cenaSmestaja}}</td>
                    <td>{{r.smestaj.balkon}} 
                      <div *ngIf="!r.rateVehicle">
                          <ngb-rating [(rate)]="r.vehicle.rating" (hover)="hovered=$event" (leave)="hovered=0" max="5">      
                            </ngb-rating>
                            <button class="list-group-item list-group-item-action" (click)="oceniJedinicu(r.vehicle.id,r.vehicle.rating,r.id)">
                                Oceni
                            </button>
                      </div>          
                    </td>      
                    <td>{{r.smestaj.sobjekat.kategorija}}
                      <div *ngIf="!r.rateRentacar">
                          <ngb-rating [(rate)]="r.rentacar.lastRating" (hover)="hovered=$event" (leave)="hovered=0" max="5">                     
                            </ngb-rating>
                            <button class="list-group-item list-group-item-action" (click)="oceniObjekat(r.rentacar.id,r.rentacar.lastRating,r.id)">
                              Oceni
                          </button>
                      </div>
                      
                        
                    </td>
                    <th>
                    
                    </th>                 
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>
