tr.selected{
    background-color: beige;
}

tr.selectedRow {
    background-color: beige;
    cursor: pointer;
}

table.table {
    cursor: pointer;
    height: 40vh;
    overflow-y:scroll;
    width: 100%;
    /* height:300px; */
    display:block;
}