<div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Naslov</th>
        <th>Pošiljalac</th>
        <th>Primalac</th>
        <th>Datum</th>
        <th>Prilog</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let poruka of poruke; index as i" (click)="select(poruka, i)" [ngClass]="{ 'selectedRow': selectedRows[i]}">
        <td>
          NASLOV PORUKE
        </td>
        <td>
          {{poruka.sender}}
        </td>
        <td>
          {{poruka.receiver}}
        </td>
        <td>
          {{poruka.timestamp | dateFilter}}
        </td>
        <td>
          {{poruka.payload ? 'Ima' : 'Nema'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>