<p>
  Logged in as: {{user.ime}} {{user.prezime}}
</p>
<p>
  With: {{user.email}}
</p>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="firstName">First Name*</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.ime" #firstName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">First name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name*</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="user.prezime" #lastName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
            <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">Last name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email*</label>
            <input disabled type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Username*</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.korisnickoIme"
              #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
            <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
              <div *ngIf="username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address*</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="user.adresa" #address="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required />
            <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
              <div *ngIf="address.errors.required">Address is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Telephone</label>
            <input type="text" class="form-control" name="telephone" [(ngModel)]="user.telefon" #telephone="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && telephone.invalid }" />
          </div>
          <div class="float-right">
            <small>* required</small>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Update</button>
          </div>
        </form>
        <form name="form2" (ngSubmit)="f2.form.valid && changePass()" #f2="ngForm" novalidate>
          <div class="form-group">
            <label for="username">Old*</label>
            <input type="text" class="form-control" name="old" [(ngModel)]="np.old"
              #old="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && old.invalid }" required />
            <div *ngIf="f2.submitted && old.invalid" class="invalid-feedback">
              <div *ngIf="old.errors.required">Old password must be verified</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">New password*</label>
            <input type="text" class="form-control" name="newPass" [(ngModel)]="np.newPass"
              #newPass="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && newPass.invalid }" required minlength="3" />
            <div *ngIf="f2.submitted && newPass.invalid" class="invalid-feedback">
              <div *ngIf="newPass.errors.required">New password is required</div>
              <div *ngIf="newPass.errors.minlength">Password must be at least 3 characters long</div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Confirm password*</label>
            <input type="text" class="form-control" name="confirm" [(ngModel)]="np.confirm"
              #confirm="ngModel" [ngClass]="{ 'is-invalid': f2.submitted && confirm.invalid }" required minlength="3" />
            <div *ngIf="f2.submitted && confirm.invalid" class="invalid-feedback">
              <div *ngIf="confirm.errors.required">Confirmation is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>