<div class="text-center">
  <form class="form-signin" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <img class="mb-4" src="../../../assets/hotel-icon.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Registracija</h1>
      <label for="inputfirstName" class="sr-only">Ime*</label>
      <input type="text" id="inputfirstName" [(ngModel)]="firstName" name="inputfirstName"  #inputfirstName="ngModel" class="form-control mb-3" [ngClass]="{ 'is-invalid': f.submitted && inputfirstName.invalid }" placeholder="Ime" required autofocus>
      <label for="inputlastName" class="sr-only">Prezime*</label>
      <input type="text" id="inputlastName" [(ngModel)]="lastName" name="inputlastName"  #inputlastName="ngModel" class="form-control mb-3" [ngClass]="{ 'is-invalid': f.submitted && inputlastName.invalid }" placeholder="Prezime" required >
      <label for="inputEmail" class="sr-only">Email*</label>
      <input type="email" id="inputEmail" [(ngModel)]="username" name="inputEmail"  #inputEmail="ngModel" class="form-control mb-3" [ngClass]="{ 'is-invalid': f.submitted && inputEmail.invalid }" placeholder="Email" required >
      <label for="inputPassword" class="sr-only">Password*</label>
      <input type="password" id="inputPassword" [(ngModel)]="password" name="inputPassword"  class="form-control mb-3"  #inputPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && inputPassword.invalid }" placeholder="Password" required>
      <label for="inputtelephone" class="sr-only">Telefon*</label>
      <input type="text" id="inputtelephone" [(ngModel)]="telephone" name="inputtelephone"  #inputtelephone="ngModel" class="form-control mb-3" [ngClass]="{ 'is-invalid': f.submitted && inputtelephone.invalid }" placeholder="Telefon" required >
      <label for="inputadress" class="sr-only">Adresa*</label>
      <input type="text" id="inputadress" [(ngModel)]="address" name="inputadress"  #inputadress="ngModel" class="form-control mb-3" [ngClass]="{ 'is-invalid': f.submitted && inputadress.invalid }" placeholder="Adresa" required >
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Prijava</button>
    </form>
</div>
