<div class="row">
  <div class="col">
    <table class="table table-bordered">
      <thead>
    
      </thead>
      <tbody>
        <tr>
          <th>Šifra sobe</th>
          <td>{{unit.id}}</td>
        </tr>
        <tr class="info">
          <th>Broj kreveta</th>
          <td>{{unit.brojKreveta}}</td>
        </tr>
        <tr class="info">
          <th>Balkon</th>
          <td>{{unit.balkon ? 'Da' : 'Ne'}}</td>
        </tr>
        <tr>
          <th>Besplatno otkazivanje</th>
          <!-- <td>{{unit.otkazivanje | quitPipe}}</td> -->
        </tr>
      </tbody>
    </table>
    <textarea name="objectDesc" class="form-control" id="objectDesc" rows="5" readonly style="background-color: beige">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum arcu vel nisl tincidunt, a consequat ante feugiat. 
      Phasellus malesuada mauris sed convallis ultricies. Aenean dictum, urna viverra varius convallis, nibh ex pharetra eros, nec 
      suscipit dui lacus in lectus. Pellentesque efficitur id purus ac laoreet. Donec non imperdiet libero. Sed et justo sapien. 
      Praesent et felis sit amet risus sollicitudin vulputate. Phasellus eros neque, dapibus at quam vel, egestas suscipit augue. 
      Aliquam vel ipsum dictum, blandit eros varius, consectetur lacus. Nam sit amet pulvinar eros. Sed vulputate euismod nibh ut pulvinar.
    </textarea>
  </div>

</div>
