<div class="row">
  <div class="col">
    <table class="table table-bordered">
      <thead>
    
      </thead>
      <tbody>
        <tr>
          <th>Id sobe</th>
          <td>{{unit?.id}}</td>
        </tr>
        <tr>
            <th>Oznaka sobe</th>
            <td>{{unit?.oznaka}}</td>
          </tr>
        <tr class="info">
          <th>Broj kreveta</th>
          <td>{{unit?.brojKreveta}}</td>
        </tr>
        <tr class="info">
          <th>Balkon</th>
          <td>{{unit?.balkon ? 'Da' : 'Ne'}}</td>
        </tr>
        <tr>
          <th>Besplatno otkazivanje</th>
          <!-- <td>{{unit.otkazivanje | quitPipe}}</td> -->
          <td *ngIf="unit?.otkazivanje?.dozvoljeno">Moguce</td>
          <td *ngIf="!unit?.otkazivanje?.dozvoljeno">Nije moguce</td>
        </tr>
        <tr *ngIf="unit?.otkazivanje?.brojDana">
          <th>Broj dana otkazivanja</th>
          <td>{{unit?.otkazivanje?.brojDana}}</td>
        </tr>
      </tbody>
    </table>
    <textarea name="objectDesc" class="form-control" id="objectDesc" rows="5" readonly style="background-color: beige">{{unit?.opis}}
    </textarea>
  </div>

</div>
