<h1 class="text-center">Dodavanje nove sobe</h1>
<ul class="nav nav-justified">
    <li class="nav-item"  [class.active]="activeTab === 'basic-info'">
      <a class="nav-link" (click)="activeTab = 'basic-info'">Osnovni podaci</a>
    </li>
    <li class="nav-item" [class.active]="activeTab === 'pricelist'">
        <a class="nav-link" (click)="activeTab = 'pricelist'">Cenovnik</a>
    </li> 
</ul>
<div [ngSwitch]="activeTab">
  <div *ngSwitchCase="'basic-info'">
    <app-new-unit-basic-info [object] = "object" [unit]="newUnit" (addBasicInfo)="addBasicInfo()" (backBasicInfo)="backBasicInfo()"></app-new-unit-basic-info>
  </div>
  <div *ngSwitchCase="'pricelist'">
    <app-choose-pricelist [object] = "object" [unit]="newUnit" (addPricelist) =  "addPricelist()" (pricelistBack)="backPricelist()"></app-choose-pricelist>
  </div> 
</div>