<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
          <nav class="navbar ">
            <a class="navbar-brand" routerLink = "/home">                                   
              <img src="../../../assets/hotel-icon.png" width="30" height="30" class="d-inline-block align-top" alt="MegaTravel">
              MegaTravel
            </a>
          </nav>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/bookings">Rezervacije <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink = "/messages">Poruke <span class="sr-only">(current)</span></a>
        </li> -->
        
        <li class="nav-item active">
          <a class="nav-link"  routerLink = "/objects">Svi objekti <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  routerLink = "/newObject">Novi Objekat <span class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item active">
          <a class="nav-link"  routerLink = "/rbm">RBM<span class="sr-only">(current)</span></a>
        </li>-->
      </ul>
   
      <ul class="nav navbar-right nav-pills">
        <li class="nav-item active" style="color: white">
            <button *ngIf="isUserLogged" routerLink="/profile"  routerLinkActive="router-link-active"  class="btn btn-secondary my-2 mx-2" type="submit"><fa name="id-card" size="lg"></fa> 
              Profil </button>
        </li>
        <li class="nav-item active">
          <button *ngIf="!isUserLogged" routerLink="/register" class="btn btn-secondary my-2 mx-2" type="submit"><fa name="plus" size="lg"></fa> 
            Registracija</button>
        </li>
        <li class="nav-item active">
          <button *ngIf="!isUserLogged" routerLink="/login" class="btn btn-secondary my-2 mx-2" type="submit"><fa name="angle-down" size="lg"></fa>Prijava</button>
        </li>
        <li class="nav-item active">
          <!-- <a class="nav-link" routerLink = "/logout">Odjava </a> -->
          <button *ngIf="isUserLogged" (click)="signOut()" class="btn btn-secondary my-2 mx-2" type="submit"><fa name="angle-up" size="lg"></fa>Odjava</button>
        </li>        
      </ul>
    </div>
</nav>


 


<div class="container">
  <router-outlet></router-outlet>
</div>

