  
  <div class="card mb-3" >
      <div class="card-header">
        <div class="row">
          <div class="col-lg">
            Tema: Smestaj, klima
          </div>
          <div class="col-lg">

          </div>
          <div class="col-lg">
            Pošiljlac: {{message?.posiljalac?.email}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            Za: {{message?.primalac?.email}}
          </div>
          <div class="col-lg">

          </div>
          <div class="col-lg">
            Datum slanja: {{message?.timestamp | date}}
          </div>
        </div>
        <!-- <div class="row">
          <div class="col bg-primary">
            Prilog:
          </div>
        </div> -->
      </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <div class=" bg-primary">
          Prilog: {{message?.sadrzaj ? 'Ima' : 'Nema'}}
        </div>
      <p class="card-text">{{message.tekst}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum arcu vel nisl tincidunt, a consequat ante feugiat. 
          Phasellus malesuada mauris sed convallis ultricies. Aenean dictum, urna viverra varius convallis, nibh ex pharetra eros, nec 
          suscipit dui lacus in lectus. Pellentesque efficitur id purus ac laoreet. Donec non imperdiet libero. Sed et justo sapien. 
          Praesent et felis sit amet risus sollicitudin vulputate. Phasellus eros neque, dapibus at quam vel, egestas suscipit augue. 
          Aliquam vel ipsum dictum, blandit eros varius, consectetur lacus. Nam sit amet pulvinar eros. Sed vulputate euismod nibh ut pulvinar.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="backTo()">
            <fa name="angle-left" size="lg"></fa> Povratak
          </button>
    </div>
    <div class="col-md-4"></div>
    <!-- ngif bug-->
    <div class="col-md-4" *ngIf="activeTab === 'inbox'">
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="float: right;" (click) = "replyTo()">
            <fa name="share" size="lg"></fa>Odgovori 
        </button>
      </div>
    <!-- <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-lg btn-block" style="float: right;" (click) = "replyTo()">
          <fa name="share" size="lg"></fa>Odgovori 
      </button>
    </div> -->
  </div>
