<div class="row">
  <!-- <div class="col"></div> -->
  <div class="col">
    <table class="table table-bordered">
      <thead>
    
      </thead>
      <tbody>
        <tr>
          <th>Naziv objekta</th>
          <td>{{object?.naziv}}</td>
        </tr>
        <tr class="info">
          <th>Lokacija</th>
          <td>{{object?.lokacija | locationFilter}}</td>
        </tr>
        <tr class="info">
          <th>Tip smestaja</th>
          <td>{{object?.tipSmestaja.naziv}}</td>
        </tr>
        <tr>
          <th>Kategorija</th>
          <td>{{object?.kategorijaSm?.zvezdice}}</td>
        </tr>
        <!-- <tr>
          <td><ngb-rating [rate]="3" #zvezdice></ngb-rating>
          </td>
        </tr> -->
      </tbody>
    </table>
    <textarea name="objectDesc" class="form-control" id="objectDesc" rows="5" readonly style="background-color: beige">{{object?.opis}}
    </textarea>
  </div>
  <!-- <div class="col"></div> -->

</div>
