<div class="col-md-10 offset-md-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let extra of extras; let ind = index">
          <td scope="row"><input type="text" name="ime" [(ngModel)]="extra.ime" /></td>
          <td><input type="number" name="cena" [(ngModel)]="extra.cena" min="0" /></td>
          <td><button class="btn btn-warning" (click)="update(ind)">Update</button></td>
          <td><button class="btn btn-danger" (click)="delete(extra.id)">Delete</button></td>
      </tr>
      <tr>
          <td scope="row"><input type="text" name="ime" [(ngModel)]="newExtra.ime" placeholder="Name"  /></td>
          <td><input type="number" name="cena" [(ngModel)]="newExtra.cena" min="0" placeholder="Price" /></td>
          <td><button class="btn btn-success" (click)="add()">Add</button></td>
      </tr>
    </tbody>
  </table>
</div>