<form #f ="ngForm">
    <div class="row">    
        <div class="col-md-3 mb-3">
           <label for="objectName">Ime objekta* :</label>
        </div>
        <div class="col-md-3 mb-3">
           
         </div>
        <div class="col-md-3 mb-3">
           <!-- <input id="objectName" type="text" class="form-control" [(ngModel)]="object.naziv" name="objectName" disabled> -->
           <input id="objectName" type="text" class="form-control" value="Talija" name="objectName" disabled>
        </div>
     </div>
    <div class="row">    
       <div class="col-md-3 mb-3">
          <label for="unitName">Ime sobe* :</label>
       </div>
       <div class="col-md-3 mb-3">
          
        </div>
       <div class="col-md-3 mb-3">
          <input id="unitName" type="text" class="form-control" [(ngModel)]="naziv" name="unitName" required>
       </div>
    </div>
    <div class="row">    
        <div class="col-md-3 mb-3">
           <label for="bedNum">Broj kreveta* :</label>
        </div>
        <div class="col-md-3 mb-3">
           <input id="bedNum" type="text" class="form-control" [(ngModel)]="unit.brojKreveta" name="bedNum" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="terrace">Terasa :</label>
         </div>
         <div class="col-md-3 mb-3">
            <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="unit.balkon" id="terrace" name="terrace" value="Moguce">Postoji</label>
         </div>
     </div>
    <div class="row">    
        <div class="col-md-3 mb-3">
           <label >Otkazivanje :</label>
        </div>
        <div class="col-md-3 mb-3">
            <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="otkazivanje" id="cancelOption" name="cancelOption" value="Moguce">Moguće</label>
        </div>
        <div class="col-md-2 mb-3">
          <label for="objectCancelDaysNum">Broj dana :</label>
        </div>
        <div class="col-md-1 mb-3">
           <input id="objectCancelDaysNum" type="text" class="form-control" [(ngModel)]="brojDanaOtkazivanja" name="objectCancelDaysNum" >
        </div>
        <div class="col-md-2 mb-3">
            <label for="objectCancelFactor">Faktor :</label>
        </div>
        <div class="col-md-1 mb-3">
          <input id="objectCancelFactor" type="text" class="form-control" [(ngModel)]="faktorOtkazivanja" name="objectCancelFactor" >
        </div>
     </div>
    <div class="form-group">
        <label for="unitDesc">Opis sobe:</label>
        <textarea [(ngModel)]="unit.opis" class="form-control" rows="2" id="unitDesc" name="unitDesc"></textarea>
    </div>
    <div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="back()">
            <fa name="angle-left" size="lg"></fa> Povratak
          </button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-lg btn-block" style="float: right;" (click) = "next(f)">
          Dalje <fa name="angle-right" size="lg"></fa>
      </button>
    </div>
    </div>
</form>
