<h4 class="text-info">Podrazumevana cena po danu: {{podrazumevanaCena}} EUR</h4>
<h1>Svi cenovnici</h1>
<div class="row">
  <div class="col">
      <table class="table table-bordered">
          <thead>
            <tr>
              <!-- <td>Indeks</td> -->
              <td>Pocetak smene</td>
              <td>Kraj termina</td>
              <td>Iznos</td>
              <td>Valuta</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cenovnik of cenovnici; index as i">
              <!-- <td>
                {{i+1}}
              </td> -->
              <td>
                {{cenovnik.pocetak | dateFilter}}
              </td>
              <td>
                {{cenovnik.kraj | dateFilter}}
              </td>
              <td>
                {{cenovnik.cena}}
              </td>
              <td>
                <!-- {{cenovnik.cena.valuta}} -->
                EUR
              </td>
            </tr>
          </tbody>
        </table>
  </div>